In [1]:
import pandas as pd
import feast
from feast import RepoConfig, FeatureStore
from feast.repo_config import RegistryConfig
from feast.infra.offline_stores.contrib.postgres_offline_store.postgres import PostgreSQLOfflineStoreConfig
from feast.infra.online_stores.redis import RedisOnlineStoreConfig
import sys, os
sys.path.append("..")

from config.config import *
from utils.feast_utils import fetch_historical_features_entity_df

/home/manpm/miniconda3/envs/kf/lib/python3.10/site-packages/dask/dataframe/_pyarrow_compat.py:23: UserWarning: You are using pyarrow version 11.0.0 which is known to be insecure. See https://www.cve.org/CVERecord?id=CVE-2023-47248 for further details. Please upgrade to pyarrow>=14.0.1 or install pyarrow-hotfix to patch your current version.
  warnings.warn(

In [2]:
df = pd.read_csv(DATA_URL.format(DRIVER_ORDERS_CSV))

In [3]:
df

  event_timestamp\tdriver_id\ttrip_completed
0         2021-04-16 20:29:28+00:00\t1001\t1
1         2021-04-17 04:29:28+00:00\t1002\t0
2         2021-04-17 12:29:28+00:00\t1003\t0
3         2021-04-17 20:29:28+00:00\t1001\t1
4         2021-04-18 04:29:28+00:00\t1002\t0
5         2021-04-18 12:29:28+00:00\t1003\t0
6         2021-04-18 20:29:28+00:00\t1001\t1
7         2021-04-19 04:29:28+00:00\t1002\t0
8         2021-04-19 12:29:28+00:00\t1003\t0
9         2021-04-19 20:29:28+00:00\t1004\t1

In [4]:
repo_config = RepoConfig(
    registry="./data/registry.db",
    project="feast",
    provider="local",
    offline_store="file",
    online_store="./data/online_store.db",
)
store = FeatureStore(config=repo_config)

/home/manpm/miniconda3/envs/kf/lib/python3.10/site-packages/feast/repo_config.py:233: RuntimeWarning: `entity_key_serialization_version` is either not specified in the feature_store.yaml, or is specified to a value <= 1.This serialization version may cause errors when trying to write fields with the `Long` data type into the online store. Specifying `entity_key_serialization_version` to 2 is recommended for new projects.
  warnings.warn(

In [5]:
df = fetch_historical_features_entity_df(store, False)

In [6]:
df.to_df()

,driver_id,event_timestamp,label_driver_reported_satisfaction,val_to_add,val_to_add_2,conv_rate,acc_rate,avg_daily_trips,conv_rate_plus_val1,conv_rate_plus_val2
0,1001,2021-04-12 10:59:42+00:00,1,1,10,0.895626,0.644162,349,1.895626,10.895626
1,1002,2021-04-12 08:12:10+00:00,5,2,20,0.102436,0.103174,534,2.102436,20.102436
2,1003,2021-04-12 16:40:26+00:00,3,3,30,0.827419,0.787637,611,3.827419,30.827419